.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 70%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-box {
  width: 100%;
  text-align: center;
}

.login-button {
  margin-top: 20px;
}

.login-error {
  margin-top: 20px;
}

.login-image-container {
  display: none; /* Hide on mobile */
}

@media (min-width: 960px) {
  .login-container {
    flex-direction: row;
  }

  .login-image-container {
    display: block;
    flex: 1;
    height: 100vh;
    overflow: hidden;
    width: 30%; /* Set width to 30% */
  }

  .login-form-container {
    flex: 1;
    width: 70%; /* Set width to 70% */
    max-width: none;
  }

  .login-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
