/* src/assets/styles/RegistrationForm.css
.registration-form-container {
    padding: 20px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  .submit-button {
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;
  }
   */

   /* src/styles/RegistrationForm.css */
.registration-form {
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .registration-form .MuiButton-root {
    margin-top: 10px;
  }
  